/* FLEX CONTAINERS HELPERS */
.flex {display: flex;}
.spaceBtw {justify-content: space-between;}
.spaceARN {justify-content: space-around;}
.alignCtr {align-items: center;}
.alignStart {align-items: flex-start;}
.justyCtr {justify-content: center;}
.flexwrap {flex-wrap: wrap;}
.directRR {flex-direction: row-reverse;}

/* POSITION & TRANSITION HELPERS */
.secTrans {transition: 0.6s;}
.posFixed {position: fixed;}
.posRelative {position: relative;}
.posAbsolute {position: absolute;}

/* GENERIC UTILITIES */
.txtWhite {color: white;}
.txtGrey {color: grey;}
.txtBlack {color: black;}
.txtBlueCTA {color: var(--blueCTA);}
.txtSmall {font-size: small;}
.txtUnderline {text-decoration: underline;}
.cursor {cursor: pointer;}
.txtAlignCtr {text-align: center;}
.txtVertAlignMid {vertical-align: middle;}
.listStyleNone {list-style-type: none;}
.vw100 {width: 100vw;}
.wid100Perc {width: 100%;}
.boxPad {padding: 8%;}
.border {border: 0.5px solid grey;}
.borderBottom {border-bottom: 0.5px solid grey;}
.visHidden {visibility: hidden;}

/* UTILITY | hover */
.fontBigHov:hover {font-size: 18px;}
.changeColRedHov:hover {color: red;}
.txtUnderUpperHov:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

