/* FLEX CONTAINERS HELPERS */
.flex {display: flex;}
.spaceBtw {justify-content: space-between;}
.spaceARN {justify-content: space-around;}
.alignCtr {align-items: center;}
.alignStart {align-items: flex-start;}
.justyCtr {justify-content: center;}
.flexwrap {flex-wrap: wrap;}
.directRR {flex-direction: row-reverse;}

/* POSITION, TRANSITION & DISPLAY HELPERS */
.secTrans {transition: 0.8s;}
.posFixed {position: fixed;}
.posRelative {position: relative;}
.posAbsolute {position: absolute;}
.displayBlock {display: block;}

/* GENERIC UTILITIES */
.txtWhite {color: white;}
.txtGrey {color: grey;}
.txtBlack {color: black;}
.txtBlueCTA {color: var(--blueCTA);}
.txtSmall {font-size: small;}
.txtUnderline {text-decoration: underline;}
.txtAlignCtr {text-align: center;}
.txtVertAlignMid {vertical-align: middle;}
.cursor {cursor: pointer;}
.listStyleNone {list-style-type: none;}
.vw100 {width: 100vw;}
.wid100Perc {width: 100%;}
.wid50Perc {width: 50%;}
.boxPad {padding: 1.16rem;}
.border {border: 0.5px solid rgba(128, 128, 128, 0.883);}
.borderBottom {border-bottom: 0.5px solid grey;}
.visHidden {visibility: hidden;}
.boxShadow {box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);}

/* UTILITY | hover */
.fontBigHov:hover {font-size: 18px;}
.changeColBlueHov:hover {color: var(--blueCTA);}
.txtUnderUpperHov:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

