/******** GENERAL STYLE ********/
:root {
    --lightblue: #B4D0E7;
    --blueCTA: #0061FF;
    /* background-color: var(--blueCTA); */
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {text-decoration: none;}

/******** HEADER STYLE ********/
header div {
    background-color: pink;
    width: 30%;
    min-height: 4rem;
}

/* 590px la hero section height */

/******** MAIN STYLE ********/
main > section:first-child {
    background-color: var(--lightblue);
    min-height: 36.8rem;
}

main > section:first-child > div {
    max-width: 62.5rem; 
    margin: 5rem auto 0;
    min-height: 31.8rem;
}



/******** FOOTER STYLE ********/
